
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple File Upload</title>
  </head>
  <body>

    {% block content %}
      <ul>
        <li>
          <a href="{% url 'simple_upload' %}">Simple Upload</a><!超連結到simple_upload.html>
        </li>
        <li>
          <a href="{% url 'model_form_upload' %}">Model Form Upload</a><!超連結到model_form_upload.html>
        </li>
      </ul>

      <p>Uploaded files:</p>
      <ul>
        {% for obj in documents %}<!列出所有目前存在資料庫裡的資料>
          <li>
            <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
            <small>(Uploaded at: {{ obj.uploaded_at }})</small>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  </body>
</html>
